<% @message.each do |message| %>
<div class="col-md-4">
  <div class="message">
    <h2 class="message-title"><%= message.title %></h2>
    <%= link_to "vive message", message_path(message),class: "btn btn-cusom" %>
 </div>
</div>
<% end %>
