<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SuperXSchool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
	<header>
			<section class='nav'>
				<div class='inc'>
					<img class="inc" src="images/school.png" alt="Blah">
				</div>
				<div class='name'>
					SUPERXSCHOOL
				</div>
	  </section>
  </header>
	<main>
	 <section id = "hero">
		<h1>区块链教育领跑者</h1>

		<h4>为全球 100 亿 区块链爱好者服务</h4>
	 </section>
	</main>

</body>
</html>
